[Desktop Entry]
Version=1.0
Name=WoC 
Comment=WoC P2P Cryptocurrency
Comment[fr]=WoC, monnaie virtuelle cryptographique pair à pair
Comment[tr]=WoC, eşten eşe kriptografik sanal para birimi
Exec=woc-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/woc;
Categories=Office;Finance;
StartupWMClass=woc-qt
